/docs/public/
/docs/content/operator
/docs/sources/operator
/docs/.hugo_build.lock
/docs/resources/_gen/assets/scss/*
/bin
/porter
.DS_Store
/build/git_askpass.sh
tests/smoke/mybuns/
.env
trivy-results.sarif

.cnab
examples/**/Dockerfile
workshop/**/Dockerfile

.vscode
*.code-workspace
.idea
kind.config
grpc-porter-tls.crt
grpc-porter-tls.key
grpc-porter.csr
.grpcurl/
config.yaml
