.inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
}

.inverse h2 {
    color: #f3f3f3;
    line-height: 0.8em;
}

.remark-slide-content {
    background-image: url(/images/facet.png);
    background-size: contain;
}