#footer {
  background-color: white;
  border-top: 2px solid rgba(0,0,0,0.05);
  position: relative;
  min-height: 3rem;

  .deislabs {
    width: 5.5rem;
    height: 7.3rem;
    display: inline-block;
    position: absolute;
    top: 1rem;
    margin-bottom: 1.25rem;

    span {
      background: url(../src/img/deislabs.svg) no-repeat center bottom;
      width: 100%;
      height: 3rem;
      background-size: contain;
      display: inline-block;
      text-indent: -999em;
      position: absolute;
      bottom: 0;
      @include transition;
    }

    em {
      width: 3rem;
      height: 3rem;
      display: inline-block;
      position: absolute;
      background-blend-mode: multiply;
      mix-blend-mode: multiply;
      content: " ";
      @include transition(all, 0.3s, ease-in-out);
      
      &.dl-tr {
        background: url(../src/img/deislabs-tr.svg) no-repeat 50% 50%;
        background-size: contain;
        left: 0;
        top: 0;
      }

      &.dl-sq {
        background: url(../src/img/deislabs-sq.svg) no-repeat 50% 50%;
        background-size: contain;
        right: 0;
        bottom: 1.8rem;
      }

      &.dl-ci {
        background: url(../src/img/deislabs-ci.svg) no-repeat 50% 50%;
        background-size: contain;
        left: 0;
        bottom: 1.8rem;
      }
    }

    a {
      display: inline-block;
      width: 5.5rem;
      height: 7.3rem;

      &:hover {
        em {
          &.dl-tr {
            left: 2.2rem;
            top: 2.5rem;
          }
          &.dl-sq {
            right: 2.5rem;
          }
          &.dl-ci {
            bottom: 4.2rem;
          }
        }
      }
    }
  }

  p {
    margin: 2rem 0;
    padding: 0 0 0 6rem;
  }

  .fa {
    font-size: 1em;
    color: #333;
  }
}