.main .list-wrap {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: $scalex5;
  font-weight: normal;
  line-height: 1.5;
  z-index: 500;
  position: relative;
  @include CMedium;

  h1 {
    text-transform: none;
    letter-spacing: 0.03em;
    margin-top: 1em;
  }

  h2 {
    color: darken($grey3, 5%);
    font-size: $scalex7;
    letter-spacing: 0.05em;
    @include CBold;
    @include upperCase;
    letter-spacing: 0.125em;
    margin: 0em 0 0.875em;
    padding-top: 1em;
  }

  h3 {
    color: $grey4;
    @include CBold;
    margin: 1.825em 0 1.825em;
  }

  h4 {
    font-size: $scalex5;
  }

  p, ul, ol, blockquote {
    color: $grey4;
    line-height: 1.725;
    font-size: $scalex5;
  }

  p {
    margin: 0.825rem 0 1.667rem;
  }

  a {
    color: darken($blue3, 7.5%);
    background: white;
    @include transition;

    &:hover {
      color: darken($blue2, 5%);
      border-bottom: 2px solid $blue1;
      background-color: #f6fbfe;
    }
  }

  .header-link {
    position: absolute;
    left: -0.4em;
    opacity: 0;
    font-size: 1rem;
    padding-top: 0.333em;
    @include transition(all, 0.3s, ease-in-out);

    &:hover {
      border-bottom: none;
      background-color: transparent;
    }
  }

  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    color: $blue4;

    .header-link {
      opacity: 1;
      left: -0.825em;
    }
  }
}

.main.docs {
  padding-top: 4rem;
}

.main .content-wrap {
  padding-top: 1em;
  padding-bottom: 10em;
  font-size: $scalex5;
  font-weight: normal;
  line-height: 1.5;
  z-index: 500;
  position: relative;
  @include CMedium;

  h1 {
    text-transform: none;
    letter-spacing: 0.03em;
    margin-top: 1em;
    scroll-margin-top: 1.6em;
  }

  article {
    padding: 2em 0 0;
    overflow:auto;

    h1 {
      font-size: $scalex8;
      color: $blue3;
      margin: 1em 0 1em;
    }
  }

  h2 {
    color: darken($grey3, 5%);
    font-size: $scalex7;
    letter-spacing: 0.05em;
    @include CBold;
    @include upperCase;
    letter-spacing: 0.125em;
    margin: 0em 0 0.875em;
    padding-top: 1em;
    scroll-margin-top: 2.5em;
  }

  h3 {
    color: $grey4;
    @include CBold;
    margin: 1.825em 0 1.825em;
  }

  h4 {
    font-size: $scalex5;
  }

  figure {
    width: max-content;
    text-align: center;
    margin: 0 auto;
  }

  blockquote {
    p {
      &:first-child {
        color: $grey3;
      }
    }
  }

  p {
    color: $grey4;
    line-height: 1.725;
    margin: 0.825rem 0 1.667rem;
    font-size: $scalex5;
  }

  &.markdown pre,
  pre {
    background-color: #e4f3f9;
    color: black;
    border: none;
    padding: 0.75em 1em;
    margin: 0 0 2.5em;
    font-size: 1rem;

    code {
      padding: 0;
      background-color: #e4f3f9;
      font-size: 1rem;
      white-space: pre;
    }
  }

  .code-box {
    margin: 0px;
    width: 100%;
    height: 220px;
    border-bottom: 3px solid $grey1;
    overflow: auto;
  }

  strong {
    letter-spacing: 0.0125em;
  }

  code {
    dispaly: block;
    color: black;
    padding: 0.5em 0.5em;
    background-color: #e4f3f9;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
  }

  &.markdown ul,
  &.markdown ol,
  ul,
  ol {
    padding: 0 0.25rem;
    color: $grey4;
    font-size: $scalex5;
    line-height: 1.7;
  }

  table {
    margin: 1.5rem 0;
    border: none;
    width: 100%;

    th,
    td {
      border: none;
      vertical-align: top;
      text-align: left;
      padding: 0.425em 0.75em 0.425em 0.2em;
      width: auto;
    }

    td {
      color: $grey4;
      font-size: $scalex5;
    }
  }

  a {
    color: darken($blue3, 7.5%);
    background: white;    
    @include transition;

    &:hover {
      color: darken($blue2, 5%);
      border-bottom: 2px solid $blue1;
      background-color: #f6fbfe;
    }
  }

  .header-link {
    position: absolute;
    left: -0.4em;
    opacity: 0;
    font-size: 1rem;
    padding-top: 0.333em;
    @include transition(all, 0.3s, ease-in-out);

    &:hover {
      border-bottom: none;
      background-color: transparent;
    }
  }

  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover {
    color: $blue4;

    .header-link {
      opacity: 1;
      left: -0.825em;
    }
  }

  img {
    padding: 0.5em;
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
    display: block
  }

  iframe,
  embed,
  .youtube-player {
    min-height: 320px;
  }
}

.copy-button-container {
  display: flex;
  justify-content: flex-end;
  .copy-button {
      margin-bottom: 0;
      padding: 4px;
  }
}