
// mobile style
@media only screen and (max-width: 64.063em) {
  .container-full {
    padding-left: 0;
    overflow-y: auto;
  }

  .left-off-canvas-toggle .fa {
    padding: 1em 1.25em;
    line-height: 3;
  }

  .sidebar {
    display: none;
  }

  .top-bar {
    left: 0;

    ul.inline {
      display: none;
    }
  }

  .blog-logo {
    position: fixed;
    z-index: 1450;
    max-width: 50%;
    left: 50%;
    margin: 0.25rem auto 0 -25%;
  }

  .st-default-autocomplete {
    width: 90% !important;
    min-width: 320px !important;
    left: 5% !important;
  }

  nav.top-bar {
    .docs-logo {
      display: none !important;
    }
  }

  .main {
    &.home {
      min-height: 500px;
  
      .home-featured .panels {
        min-width: 100%;
      }
  
      .fa {
        display: none;
      }
    }

    &.blog {
      padding-top: 6.5rem;
    }

    &.docs {
      padding-top: 3.5rem;

      .docs-logo {
        position: absolute;
        z-index: 1450;
        max-width: 50%;
        left: 50%;
        margin: 0.25rem auto 0 -25%;
        display: block !important;
      }
    }
  }

  nav.home-nav {
    ul {
      margin-left: auto;
      margin-right: auto;

      li {
        padding: 0;
        margin: 0;

        a {
          background-color: lighten($blue1, 35%);
          padding: 0.25rem 1rem;
          margin: 0 0.333rem 0.75rem;
          font-size: 1rem;
          border-radius: 0.35em;
          min-width: 15vw;
        }
      }
    }
    
    h1 {
      position: absolute;
      left: 7%;
      top: 0.5rem;
      margin-left: -3.5%;
      min-width: 86%;
      text-align: center;
      
      img {
        max-width: 45%;
        min-height: auto !important;
        margin: 0 auto;
      }
    }

    ul {
      position: absolute;
      top: 7.5rem;
      left: 0%;
      width: 100%;
      right: 0%;
      text-align: center;
    }
  }

  .home #helm .billboard {
    h1 {
      font-size: 5.755vw;
      margin: 3rem 3.5vw 1.5em;
      padding: 0;
    }

    h2 {
      font-size: 1rem;
      line-height: 1.636;
      margin: 2rem 3.5vw 5rem;
      padding-bottom: 3.5rem;
    }
  }

  .main .content-wrap h1 {
    font-size: $scalex5;
  }

  .main .content-wrap article {
    padding: 0 0 0.5em;

    h1 {
      font-size: $scalex8;
    }

    h2 {
      font-size: $scalex6;
    }

    p:first-child {
      padding-right: 0;
      font-size: $scalex5;
    }
  }

  aside.left-off-canvas-menu {
    height: calc(100vh - calc(100vh - 100%));
    overflow-y: auto;
    ul {
      background: $blue2 !important;

      li {
        @include CBold;
        font-size: 1.25rem;

        a {
          color: white !important;
          border-bottom: none !important;

          &:hover {
            background: $blue2 !important;
          }

          &.active {
            color: white !important;
            background: $blue4 !important;
          }
        }

        a + ul {
          display: none;
          background: $blue4 !important;
          margin-left: 0;
          padding: 0.5em 0 1em 1.5em;

          li {
            font-size: 1rem;
            list-style: none;

            a {
              padding: 0.1em 0.66667rem;
              border-bottom: none;
              color: $light2 !important;
            }
          }
        }

        a.active + ul {
          display: block;
        }
      }
    }

    .button-wrap {
      padding: 0.75em 5%;

      .button {
        margin: 0.4em 0;
      }
    }
  }

  .top-bar {
    .breadcrumb {
      left: 2.75rem;
    }
    .right {
      li {
        display: none;

        &:nth-child(2) {
          display: inline-block;

          a {
            position: absolute;
            right: -4em;
            top: -0.35em;
            font-size: 1.75rem;
          }
        }
      }
    }

  }

  .contrib-text .lead {
    display: none;
  }

  .cncf-wrap {
    .cncf {
      padding-top: 2rem;
      padding-bottom: 2rem;

      img,
      p {
        float: none;
        min-width: 80%;
        margin: 1.5rem auto;
      }

      img {
        max-width: 51%;
      }
    }
  }
}


// affix the sidebar buttons, if the screen is tall enough
@media screen and ( min-height: 575px ){
  .sidebar {
    padding-bottom: 0px;

    .sidebar-buttons {
      position: fixed;
      bottom: 0;
    }
  }
}
