.blog-layout {

  .main {
    padding-top: 2rem;

    &.blog {
      .content-wrap {
        h1 {
          margin-top: 0;
          color: $gray;
        }

        article {
          padding: 0;

          h2 {
            padding-top: 4rem;
            margin-bottom: 0;
            text-transform: capitalize;
            letter-spacing: 0.05em;
            font-size: 2rem;
            margin: 0 0 1rem;


            a {
              color: darken($blue, 25%);
              padding: 0.15rem 0.233rem;
              background-color: lighten($gold, 35%);

              &:hover {
                color: $blue;
              }
            }
          }

          p.date {
            margin-top: 0;
            padding-top: 0;
            font-weight: bold;
            font-size: 1rem;
            color: lighten($gray, 35%);
            margin: 0.5rem 0;
          }

          // Workaround bug: https://github.com/gohugoio/hugo/issues/1217#issuecomment-628409159
          .summary {
            p {
              display: inline;
              margin: 0;
              padding: 0;
            }

            a {
              font-weight: 900;
            }
          }
        }
      }
    }

    &.blog-single {
      .content-wrap {
        article {
          h1 {
            font-size: 2.75rem;
            margin-bottom: 0.25em;
          }

          p.date {
            font-style: italic;
            margin-bottom: 2.67em;
          }

          img {
            box-shadow: none;
            display: block;
            margin: 0 auto;

            &:hover {
              @include box-shadow(none);
            }
          }

          .blog-meta {
            margin-top: 7.5rem;
          }

          .blog-author {
            text-align: left;
            figure {
              display: inline-block;
              width: 100%;
              
              a {
                position: relative;
                background: lighten($gold, 25%);
                padding: 1rem;
                display: inline-block;
                width: 100%;
                min-height: 12rem;
                border-radius: 0.67em;
                padding-left: 12rem;

                img {
                  position: absolute;
                  left: 1rem;
                  top: 1rem;
                  border-radius: 50%;
                  max-width: 10rem;
                }

                figcaption {
                  text-align: left;
                  font-size: 1.35rem;
                  margin-top: 2.75rem;
                }
              }
            }
          }

          .blog-tags {
            position: relative;
            padding: 1rem 2rem;
            min-height: 12rem;
            a.tag {
              font-size: 1.25rem;
              border-radius: 2rem;
              background: $blue;
              color: white;
              padding: 0.5rem 1.5rem;
              margin: 2.25rem 0.25rem;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 0.075em;
            }
          }

          .button-rss {
            display: block;
            background: lighten($blue, 35%);
            border-radius: 3rem;
            margin: 2.5rem 0 0;
            position: absolute;
            bottom: 0;
            left: 5%;
            right: 5%;
          }
        }
      }
    }
  }
}
