.sidebar ul li a {
    text-transform: none;
}

.main img.mixin-logo {
    min-width: 100px;
    width: 200px;
    max-width: 300px;
    float: right;
    box-shadow: none;
}

.main img.mixin-logo:hover {
    box-shadow: none;
}

.main .content-wrapper h2 {
    float: none;
}

#helm.home .content .emoji-list {
    list-style: none;
}

#helm.home .content .emoji-list li:not(:last-child) {
    padding-bottom: 1em;
}

.emoji-list .emoji {
    font-size: 2rem;
}

#doc-version-picker {
    display: flex;
    align-items: center;
    margin: 1em;
}

#doc-version-picker a {
    padding: 0;
    color: #2ba0d3;
    font-size: 14px;
    letter-spacing: 0;
    font-family: inherit;
}
