.remark-slide-content {
    background-image: url(/images/facet.png);
    background-size: contain;
    background-position: top;
}

.remark-slide-content ol,
.remark-slide-content ul {
    font-size: 1.2rem;
}

.remark-slide-content li,
.remark-slide-content p {
    font-size: 1.2em;
    line-height: 1.2em;
    color: #666
}

.remark-code {
    font-size: .8em;
    display: block;
    overflow-x: auto;
}

.remark-slide-content pre {
    margin-bottom: 1em;
}

.remark-slide-content p,
.remark-slide-content pre,
.remark-slide-content ol,
.remark-slide-content ul {
    max-width: 40em; /* Don't run into the green stuff on the right from the facet theme */
}

.remark-slide-content div.center p {
    max-width: unset; /* If we are centering, limiting the width shoves stuff off to the left */
}

.remark-slide-content .footnote {
    color: grey;
    font-size: .7em;
}

.remark-slide-content #introductions {
    width: 40em;
}
.remark-slide-content #introductions p {
    margin-bottom: unset;
    white-space: nowrap;
}

.remark-slide-content blockquote {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.remark-slide-content .nudge {
    margin-top: 12rem;
}