# Close issues when the pull request was merged into the non-default branch
# i.e. when we merge into the release/v1 branch, immediately close the issue

name: Close Completed Issues

on:
  pull_request:
    types: [closed]
    branches:
      - release/*

jobs:
  closeIssueOnPrMergeTrigger:
    runs-on: ubuntu-latest
    steps:
      - name: Closes issues related to a merged pull request.
        uses: ldez/gha-mjolnir@v1.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
