name: integ reusable workflow

on:
  workflow_call:
    inputs:
        test_name:
            type: string
            required: true
        registry:
            type: string
            default: ghcr.io
env:
    GOVERSION: 1.24.11
    PORTER_INTEG_FILE: ${{inputs.test_name}}.go

permissions:
  contents: read
  packages: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: "${{ env.GOVERSION }}"
        cache: true
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Cache Docker layers
      uses: actions/cache@v5
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
    - name: Docker Login
      uses: docker/login-action@v3.6.0
      with:
        registry: ${{inputs.registry}}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Configure Agent
      run: go run mage.go build
      shell: bash
    - name: Aggressive cleanup
      run: |
        df -h
        # Remove Java (JDKs)
        sudo rm -rf /usr/lib/jvm
        # Remove .NET SDKs
        sudo rm -rf /usr/share/dotnet
        # Remove Swift toolchain
        sudo rm -rf /usr/share/swift
        # Remove Haskell (GHC)
        sudo rm -rf /usr/local/.ghcup
        # Remove Julia
        sudo rm -rf /usr/local/julia*
        # Remove Android SDKs
        sudo rm -rf /usr/local/lib/android
        # Remove Chromium (optional if not using for browser tests)
        sudo rm -rf /usr/local/share/chromium
        # Remove Microsoft/Edge and Google Chrome builds
        sudo rm -rf /opt/microsoft /opt/google
        # Remove Azure CLI
        sudo rm -rf /opt/az
        # Remove PowerShell
        sudo rm -rf /usr/local/share/powershell
        df -h
      shell: bash
    - name: Integration Test
      run: go run mage.go -v TestIntegration
      shell: bash
