name: porter/porter-integration
on:
  push:
    branches:
    - main
    paths-ignore:
    - 'docs/**'
    - '**/*.md'
    - 'LICENSE'
    - 'netlify.toml'
  pull_request:
    branches:
      - main
    paths-ignore:
    - 'docs/**'
    - '**/*.md'
    - 'LICENSE'
    - 'netlify.toml'

env:
  GOVERSION: 1.24.13
permissions:
  contents: read
  packages: read

jobs:
  archive_integration_test:
    name: Archive Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: archive_test
  build_integration_test:
    name: Build Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: build_test
  cli_integration_test:
    name: CLI Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: cli_test
  config_integration_test:
    name: Config Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: config_test
  connection_nix_integration_test:
    name: Connection Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: connection_nix_test
  copy_integration_test:
    name: Copy Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: copy_test
  dependenciesv1_integration_test:
    name: Dependencies V1 Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: dependenciesv1_test
  dependenciesv2_integration_test:
    name: Dependencies V2 Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: dependenciesv2_test
  driver_integration_test:
    name: Driver Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: driver_test
  exec_local_script_integration_test:
    name: Exec Local Script Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: exec_local_script_test
  install_integration_test:
    name: Install Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: install_test
  inspect_dependencies_integration_test:
    name: Inspect Dependencies Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: inspect_dependencies_test
  invoke_integration_test:
    name: Invoke Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: invoke_test
  lint_integration_test:
    name: Lint Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: lint_test
  migration_integration_test:
    name: Migration Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: migration_test
  outputs_integration_test:
    name: Outputs Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: outputs_test
  object_param_integration_test:
    name: Object Param Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: object_param_test
  publish_integration_test:
    name: Publish Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: publish_test
  pull_integration_test:
    name: Pull Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: pull_test
  registry_integration_test:
    name: Registry Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: registry_integration_test
  schema_integration_test:
    name: Schema Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: schema_test
  sensitive_data_integration_test:
    name: Sensitive data Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: sensitive_data_test
  suppress_output_integration_test:
    name: Suppress output Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: suppress_output_test
  telemetry_test:
    name: Telemetry Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: telemetry_test
  uninstall_test_integ:
    name: Uninstall Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: uninstall_test
  signing_test_integ:
    name: Signing Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: signing_test
  upgrade_test_integ:
    name: Upgrade Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: upgrade_test
  plugin_log_level_test_integ:
    name: Plugin Log Level Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: plugin_log_level_test
  porter_build_integration_test:
    name: Porter Build Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: build_integration_test
  lifecycle_integration_test:
    name: Lifecycle Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: lifecycle_integration_test
  pkgmgmt_integration_test:
    name: Package Management Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: pkgmgmt_integration_test
  runner_integration_test:
    name: Runner Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: runner_integration_test
  agent_integration_test:
    name: Agent Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: agent_integration_test
  state_test:
    name: Agent Integration Test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: state_test
