name: porter/porter-integration
on:
  push:
    branches:
    - main
    paths-ignore:
    - 'docs/**'
  pull_request:
    branches:
      - main

env:
  GOVERSION: 1.24.11
permissions:
  contents: read
  packages: read

jobs:
  integration_tests:
    name: ${{ matrix.test_name }} (${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        test_name:
          - archive_test
          - build_test
          - cli_test
          - connection_nix_test
          - copy_test
          - dependenciesv1_test
          - dependenciesv2_test
          - driver_test
          - exec_local_script_test
          - install_test
          - inspect_dependencies_test
          - invoke_test
          - lint_test
          - migration_test
          - outputs_test
          - object_param_test
          - publish_test
          - pull_test
          - registry_integration_test
          - schema_test
          - sensitive_data_test
          - suppress_output_test
          - telemetry_test
          - uninstall_test
          - signing_test
          - upgrade_test
          - plugin_log_level_test
          - build_integration_test
          - lifecycle_integration_test
          - pkgmgmt_integration_test
          - runner_integration_test
          - agent_integration_test
          - state_test
    uses: ./.github/workflows/integ-reuseable-workflow.yml
    with:
      test_name: ${{ matrix.test_name }}
      os: ${{ matrix.os }}
