name: porter/porter-integration
on:
  push:
    branches:
    - main
    paths-ignore:
    - 'docs/**'
  pull_request:
    branches:
      - main

env:
  GOVERSION: 1.23.3

jobs:
  archive_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: archive_test
  build_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: build_test
  cli_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: cli_test
  connection_nix_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: connection_nix_test
  copy_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: copy_test
  dependenciesv1_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: dependenciesv1_test
  dependenciesv2_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: dependenciesv2_test
  driver_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: driver_test
  install_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: install_test
  invoke_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: invoke_test
  lint_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: lint_test
  migration_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: migration_test
  outputs_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: outputs_test
  publish_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: publish_test
  pull_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: pull_test
  registry_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: registry_integration_test
  schema_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: schema_test
  sensitive_data_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: sensitive_data_test
  suppress_output_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: suppress_output_test
  telemetry_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: telemetry_test
  uninstall_test_integ:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: uninstall_test
  signing_test_integ:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: signing_test
  upgrade_test_integ:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: upgrade_test
  plugin_log_level_test_integ:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: plugin_log_level_test
  porter_build_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: build_integration_test
  lifecycle_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: lifecycle_integration_test
  pkgmgmt_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: pkgmgmt_integration_test
  runner_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: runner_integration_test
  agent_integration_test:
    uses: getporter/porter/.github/workflows/integ-reuseable-workflow.yml@main
    with:
      test_name: agent_integration_test
