name: porter/testporterbot.porter-release
on:
  workflow_dispatch:
    inputs:
      shouldPublish:
        default: true
        type: boolean
        required: false
      skipTests:
        default: true
        type: boolean
        required: false
  pull_request:
    branches:
    - release/v1
jobs:
  build_azure_pipelinesrelease_template:
    name: build_azure_pipelinesrelease_template
    uses: "./.github/workflows/build_azure_pipelinesrelease_template.yml"
    with:
      registry: ghcr.io/getporter/test
      shouldPublish: ${{ inputs.shouldPublish }}
      skipTests: ${{ inputs.skipTests }}